body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.wrapper {
    display: flex;
    flex-flow: row nowrap;
    height: 100vh;
}

.left {
    position: relative;
    flex: 1;
}

.left_side {
    display: flex;
    flex-flow: column;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.left_navigation {
    background-color: #E1D6FF;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    flex: 0.41;
}

/* БУРГЕР МЕНЮ */

.left_navigation-burger_btn {
    display: block;
    width: 30px;
    flex: none;
    margin: 5px;
}

.left_navigation-burger_btn:before, .left_navigation-burger_btn:after {
    background-color: #9386B5;
    content: '';
    display: block;
    height: 4px;
    transition: all 200ms ease-in-out;
}

.left_navigation-burger_btn:before {
    box-shadow: 0 10px 0 #9386B5;
    margin-bottom: 16px;
}

.left_navigation-burger_btn:hover:before {
    box-shadow: 0 10px 0 #7C7199;
    background-color: #7C7199;
}

.left_navigation-burger_btn:hover:after {
    background-color: #7C7199;
}

/* ЗДЕСЬ БУДЕТ СТРОКА ПОИСКА */

.left_navigation form {
    margin-right: 3px;
}

.left_navigation input {
    background-color: #9386B5;
    border: none;
    width: 222px;
    height: 30px;
    border-radius: 4px;
    padding: 10px;
}

.left_dialogues {
    background-color: #E1D6FF;
    flex: 6;
    overflow-y: auto;
    overflow-x: hidden;
}

/* ПУКИ */

.left_dialogues-item {
    display: flex;
    flex-flow: row nowrap;
    height: 60px;
    align-items: center;
    padding: 5px;
}

.left_dialogues-item-circle {
    width: 50px;
    height: 50px;
    background-image: url(images/heart.jpg);
    border-radius: 50px;
    margin-right: 5px;
}

.left_dialogues-item-rectangle {
    height: 50px;
    background: #9386B5;
    flex: 2;
    border-radius: 4px;
}

/* ОСНОВНОЕ */

.middle {
    flex: 3;
    background-color: #E1D6FF;
    position: relative;
}

.main {
    display: flex;
    flex-flow: column;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.main_info {
    background-color: #E1D6FF;
    display: flex;
    flex: row nowrap;
    justify-content: space-between;
    flex: 0.25;
    padding-left: 5px;
}

.main_info-person {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}

.main_info-person-name, .main_info-person-status {
    margin: 0;
}

.main_info-person-name {
    font-weight: bold;
}

.main_info-person-status {
    font-size: 14px;
}

.main_info-navigation {
    display: inline-flex;
    margin: 0;
}

.main_info-navigation-child {
    flex: 1;
    width: 30px;
    height: 30px;
    margin: 10px;
    background-color: #F06292;
}

.main_chat {
    background-color: #8695C2;
    flex: 6;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0;
    padding: 0 20px 0 20px;
    display: flex;
    flex-direction: column;
    border-left: 1px solid #E1D6FF;
}

.main_chat img {
    max-width: 300px;
}

.main_chat p {
    max-width: 300px;
    margin-bottom: 12px;
    line-height: 24px;
    position: relative;
    padding: 10px 20px;
    border-radius: 10px;
}

.main_chat p:before, .main_chat p:after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 9px;
}

.from-me {
    color: white;
    background: #0B93F6;
    align-self: flex-end;
}

.from-me:before {
    right: -8px;
    border-right: 20px solid #0B93F6;
}

.from-me:after {
    right: -10px;
    width: 10px;
    background: #8695C2;
    border-bottom-left-radius: 10px;
}

.from-them {
    background: #E5E5EA;
    color: black;
    align-self: baseline;
}

.from-them:before {
    left: -8px;
    border-left: 20px solid #E5E5EA;
}

.from-them:after {
    width: 10px;
    left: -10px;
    background: #8695C2;
    border-bottom-right-radius: 10px;
}

/* НИЖНЯЯ СТРОКА */

.main_message {
    background-color: #E1D6FF;
    flex: 0.4;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

.main_message-text {
    flex: 15;
    margin: 5px;
    background-color: fuchsia;
}

.main_message-child {
    flex: 1;
    margin: 5px;
    background-color: darkorange;
}

/* СПРАВА */

.right {
    flex: 1;
    position: relative;
}

.right_side {
    display: flex;
    flex-flow: column;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.right_top_menu {
    background-color: #E1D6FF;
    display: flex;
    flex-flow: row nowrap;
    flex: 0.25;
}

.right_top_menu-child {
    flex: 1;
    width: 30px;
    height: 30px;
    margin: 10px;
    background-color: darkorange;
}

.right_stickers {
    background-color: #E1D6FF;
    flex: 6;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
}

.right_stickers-item img {
    padding: 5px;
    width: 80px;
}

.right_bottom_navigation {
    flex: 0.4;
    background-color: #E1D6FF;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

.right_bottom_navigation-child {
    flex: 1;
    width: 20px;
    height: 20px;
    margin: 10px;
    background-color: darkorange;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background-color: #9386B5;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #7C7199;
    border-radius: 10px;
}

::-webkit-scrollbar-track:hover, ::-webkit-scrollbar-thumb:hover {
    visibility: visible;
}

::-webkit-scrollbar-track:active, ::-webkit-scrollbar-thumb:active {
    visibility: visible;
}